
.container{
  max-width:1200px;
  width: 100%;
  margin:auto;
  font-family: 'Roboto', sans-serif;

  .navbar {
    width:1200px;
    position:fixed;
    height:50px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background:$bg-color;
    z-index: 1;

      a{
        text-decoration: none;
        color:white;
        background:$button-color;
        height:80%;
        line-height:40px;
        padding:0px 20px;
        border-radius:5px;
      }
    }



  .firstrow{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    @include image;
    color:white;
    font-weight: bold;
    padding-bottom: 15px;
    font-size:35px;
    text-align: center;
    height:500px;
      button{
        background:$button-color;
        color:white;
        padding:7px;
        width:100px;
        border:none;
        border-radius:5px;
        margin-top:5px;
        }

      input{
        width:400px;
        padding:5px;
        border:none;
        }

      p{
        color:white;
        font-weight: bold;
        padding-bottom: 15px;
        font-size:35px;
        text-align: center;
        padding:0 200px;
        }
      }

  .secondrow{
    position:relative;
    display:flex;
    justify-content: space-around;
    background:$bg-color;
    height:300px;

     .box{
       display: flex;
       flex-direction: column;
       justify-content:center;
       align-items: center;;
       margin:0px 50px;
       flex:1;

        i{
          transform: scale(3);
          margin-bottom:40px;
          color:$button-color;
        }

        p{
          text-align: center;
          line-height: 30px;
        }
     }
   }

   .thirdrow{
    position:relative;
    display:flex;
    align-items: center;
    .box{
      width:50%;
        img{
          width:100%;;
        }
          article{
            margin:0 75px;
            line-height: 30px;
          }
      }
  }
  .fourthrow{
    display:flex;
    align-items: center;
    position:relative;
      .box{
        width:50%;
        img{
          width:100%;
        }
        article{
          margin:0 75px;
          line-height: 30px;
        }
      }
  }

  .fithrow{
    display:flex;
    align-items: center;
    position:relative;
      .box{
        width:50%;
        img{
          width:100%;;
        }
        article{
          margin:0 75px;
          line-height: 30px;
        }
      }
  }

  .customers{
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:500px;
    background:$bg-color;

    .people{
      display:flex;
      align-items: center;

        .person{
          display:flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;;
          flex:1;

            img{
              max-width:200px;
              border-radius: 100%;
              margin-bottom:20px;
            }
            p{
              margin:0 75px;
              line-height: 30px;
              text-align: center;
            }
        }
    }
  }

  .sign-up{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height:300px;
    color:white;
    font-weight: bold;
    padding-bottom: 15px;
    font-size:35px;
    text-align: center;
    @include image;

      button{
        background:$button-color;
        color:white;
        padding:7px;
        width:100px;
        border:none;
        border-radius:5px;
        margin-top:5px;
      }

      input{
        width:400px;
        padding:5px;
        border:none;
      }

      p{
        color:white;
        font-weight: bold;
        padding-bottom: 15px;
        font-size:35px;
        text-align: center;
      }
    }

  .footer{
    position:relative;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background:$bg-color;
    height:70px;
    .list{
      display:flex;
      flex-direction:column;

        ul{
          display: flex;
          list-style: none;

            li{
              margin-right: 20px;
              color:$button-color;
            }
            li:nth-child(2n)::before{
              content: '';
              display: inline-block;
              width: 2px;
              height: 2px;
              margin-bottom:3px;
              margin-right:10px;
              border-radius: 7.5px;
              background-color: grey;

            }
            li:nth-child(3)::before{
              content: '';
              display: inline-block;
              width: 2px;
              height: 2px;
              margin-bottom:3px;
              margin-right:10px;
              border-radius: 7.5px;
              background-color: grey;

            }
        }

        p{
          color:grey;
          font-size:12px;
          padding-top:10px;
        }

        p::before{
          content: "\00a9";
        }
    }
    .icons{
      color:$button-color;
      transform: scale(1.5);
        i{
          margin: 0 10px;
        }
      }
  }
}
